In [1]:
# Dependencies
from bs4 import BeautifulSoup, SoupStrainer
import requests

EXTRACT

In [2]:
url = "http://www.parks.ca.gov/?page_id=28055"

In [3]:
# Retrieve page with the requests module
response = requests.get(url)

In [4]:
# create dictionary
data={'park':[], 'link':[]}

In [5]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

# results are returned as an iterable list
results = soup.find('div', id="center_content")
results2 = results.find_all('a')

# loop through results
for link in results2:
    # Error handling
    try:
        park = link.text
        parklink = link.get('href')
        # Print results only if title, price, and link are available
        if parklink[:25] == 'https://www.parks.ca.gov/' and park[:5] != 'https':
            if (park,  parklink):
                #parklist.append(park)
                #linklist.append(parklink)
                data['park'].append(park)
                data['link'].append(parklink)
                #print('-------')
                #print(park)
                #print(parklink)
    except AttributeError as e:
        print(e)

In [6]:
import pandas 
datadf = pandas.DataFrame(data)
datadf.head()

,park,link
0,Columbia State Historic Park:,https://www.parks.ca.gov/?page_id=552
1,Mount Diablo State Park:,https://www.parks.ca.gov/?page_id=517
2,Marshall Gold Discovery State Historic Park,https://www.parks.ca.gov/?page_id=484
3,Ed Z’Berg Sugar Pine Point State Park:,https://www.parks.ca.gov/?page_id=510
4,Humboldt Lagoons State Park:,https://www.parks.ca.gov/?page_id=416

TRANSFORM

In [7]:
#remove ":"
datadf['park'] = datadf['park'].str.replace(":", "") 
datadf.head()

,park,link
0,Columbia State Historic Park,https://www.parks.ca.gov/?page_id=552
1,Mount Diablo State Park,https://www.parks.ca.gov/?page_id=517
2,Marshall Gold Discovery State Historic Park,https://www.parks.ca.gov/?page_id=484
3,Ed Z’Berg Sugar Pine Point State Park,https://www.parks.ca.gov/?page_id=510
4,Humboldt Lagoons State Park,https://www.parks.ca.gov/?page_id=416

In [8]:
#remove row value where link is not to a page
datadf = datadf[datadf['link'].str.contains("page_id")==True] 
datadf.head()

,park,link
0,Columbia State Historic Park,https://www.parks.ca.gov/?page_id=552
1,Mount Diablo State Park,https://www.parks.ca.gov/?page_id=517
2,Marshall Gold Discovery State Historic Park,https://www.parks.ca.gov/?page_id=484
3,Ed Z’Berg Sugar Pine Point State Park,https://www.parks.ca.gov/?page_id=510
4,Humboldt Lagoons State Park,https://www.parks.ca.gov/?page_id=416

LOAD

In [10]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///CalHikes.db', echo = True)
meta = MetaData()

park = Table(
   'park', meta, 
   Column('index', Integer, primary_key = True), 
   Column('park', String), 
   Column('link', String),
)

hike = Table(
   'hike', meta, 
   Column('index', Integer, primary_key = True),
   Column('park', String), 
   Column('hikedt', String),
   Column('comments', String) ,
)
meta.create_all(engine)

2019-05-09 13:14:55,791 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-05-09 13:14:55,801 INFO sqlalchemy.engine.base.Engine ()
2019-05-09 13:14:55,803 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-05-09 13:14:55,804 INFO sqlalchemy.engine.base.Engine ()
2019-05-09 13:14:55,806 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("park")
2019-05-09 13:14:55,808 INFO sqlalchemy.engine.base.Engine ()
2019-05-09 13:14:55,810 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("hike")
2019-05-09 13:14:55,814 INFO sqlalchemy.engine.base.Engine ()
2019-05-09 13:14:55,823 INFO sqlalchemy.engine.base.Engine
CREATE TABLE park (
	"index" INTEGER NOT NULL,
	park VARCHAR,
	link VARCHAR,
	PRIMARY KEY ("index")
)


2019-05-09 13:14:55,824 INFO sqlalchemy.engine.base.Engine ()
2019-05-09 13:14:55,846 INFO sqlalchemy.engine.base.Engine COMMIT
2019-05-09 13:14:55,848 INFO sqlalchemy.engine.base.Engine
CREATE TABLE hike (
	"index" INTEGER NOT NULL,
	park VARCHAR,
	hikedt VARCHAR,
	comments VARCHAR,
	PRIMARY KEY ("index")
)


2019-05-09 13:14:55,856 INFO sqlalchemy.engine.base.Engine ()
2019-05-09 13:14:55,894 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
# insert data into table
datadf.to_sql('park', con=engine, if_exists='append')

2019-05-09 13:14:58,349 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("park")
2019-05-09 13:14:58,351 INFO sqlalchemy.engine.base.Engine ()
2019-05-09 13:14:58,355 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-09 13:14:58,357 INFO sqlalchemy.engine.base.Engine INSERT INTO park ("index", park, link) VALUES (?, ?, ?)
2019-05-09 13:14:58,358 INFO sqlalchemy.engine.base.Engine ((0, 'Columbia State Historic Park', 'https://www.parks.ca.gov/?page_id=552'), (1, 'Mount Diablo State Park', 'https://www.parks.ca.gov/?page_id=517'), (2, 'Marshall Gold Discovery State Historic Park', 'https://www.parks.ca.gov/?page_id=484'), (3, 'Ed Z’Berg Sugar Pine Point State Park', 'https://www.parks.ca.gov/?page_id=510'), (4, 'Humboldt Lagoons State Park', 'https://www.parks.ca.gov/?page_id=416'), (5, 'Anderson Marsh State Historic Park', 'https://www.parks.ca.gov/?page_id=483'), (6, 'Clear Lake State Park', 'https://www.parks.ca.gov/?page_id=473'), (7, 'Angel Island State Park', 'https://www.parks.ca.gov/?page_id=468')  ... displaying 10 of 35 total bound parameter sets ...  (33, 'Salt Point State Park', 'https://www.parks.ca.gov/?page_id=453'), (35, 'Sugarloaf Ridge State Park', 'https://www.parks.ca.gov/?page_id=481'))
2019-05-09 13:14:58,366 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
#check that table is loaded
from sqlalchemy.orm import Session
session = Session(bind=engine)

# Print all of the player names in the database
parktbl = session.query(park)
for p in parktbl:
  print(p.park)

2019-05-09 13:15:00,483 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-09 13:15:00,485 INFO sqlalchemy.engine.base.Engine SELECT park."index" AS park_index, park.park AS park_park, park.link AS park_link
FROM park
2019-05-09 13:15:00,486 INFO sqlalchemy.engine.base.Engine ()
Columbia State Historic Park
Mount Diablo State Park
Marshall Gold Discovery State Historic Park
Ed Z’Berg Sugar Pine Point State Park
Humboldt Lagoons State Park
Anderson Marsh State Historic Park
Clear Lake State Park
Angel Island State Park
Mendocino Headlands State Park
Van Damme State Park
Malakoff Diggins State Historic Park
Auburn State Recreation Area
Wildwood Canyon Park Property
Folsom Lake State Recreation Area
Cuyamaca Rancho State Park
Hearst San Simeon State Park
Morro Strand State Beach
Morro Strand State Park
Pismo State Beach
Burleigh H. Murray Ranch Property
Montara State Beach
Pescadero Marsh Natural Preserve
Pigeon Point Light Station State Historic Park
La Purísima Mission State Historic Park
Castle Rock State Park
Henry Cowell Redwoods State Park
Natural Bridges State Beach
New Brighton State Beach
Portola Redwoods State Park
Seacliff State Beach
The Forest of Nisene Marks State Park
Wilder Ranch State Park
Jack London State Historic Park
Salt Point State Park
Sugarloaf Ridge State Park

-----------------------------
2nd Data Source
==============

Extract

In [13]:
csv_file = "Resources/parkshiked.csv"
hikes = pandas.read_csv(csv_file)
hikes.head()

                                          park hikedt             comments
0                 Columbia State Historic Park    NaN                  NaN
1                      Mount Diablo State Park    NaN  plan to hike in May
2  Marshall Gold Discovery State Historic Park    NaN                  NaN
3        Ed Z’Berg Sugar Pine Point State Park    NaN                  NaN
4                  Humboldt Lagoons State Park    NaN                  NaN

Transform

In [14]:
hikesdf = pandas.DataFrame(hikes)
hikesdf.head()

                                          park hikedt             comments
0                 Columbia State Historic Park    NaN                  NaN
1                      Mount Diablo State Park    NaN  plan to hike in May
2  Marshall Gold Discovery State Historic Park    NaN                  NaN
3        Ed Z’Berg Sugar Pine Point State Park    NaN                  NaN
4                  Humboldt Lagoons State Park    NaN                  NaN

In [15]:
hikesdf['comments'].fillna('future hike', inplace = True)
hikesdf.head()

                                          park hikedt             comments
0                 Columbia State Historic Park    NaN          future hike
1                      Mount Diablo State Park    NaN  plan to hike in May
2  Marshall Gold Discovery State Historic Park    NaN          future hike
3        Ed Z’Berg Sugar Pine Point State Park    NaN          future hike
4                  Humboldt Lagoons State Park    NaN          future hike

Load

In [16]:
# insert data into table
hikesdf.to_sql('hike', con=engine, if_exists='append')

2019-05-09 13:15:10,525 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("hike")
2019-05-09 13:15:10,528 INFO sqlalchemy.engine.base.Engine ()
2019-05-09 13:15:10,533 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-09 13:15:10,537 INFO sqlalchemy.engine.base.Engine INSERT INTO hike ("index", park, hikedt, comments) VALUES (?, ?, ?, ?)
2019-05-09 13:15:10,538 INFO sqlalchemy.engine.base.Engine ((0, 'Columbia State Historic Park', None, 'future hike'), (1, 'Mount Diablo State Park', None, 'plan to hike in May'), (2, 'Marshall Gold Discovery State Historic Park', None, 'future hike'), (3, 'Ed Z’Berg Sugar Pine Point State Park', None, 'future hike'), (4, 'Humboldt Lagoons State Park', None, 'future hike'), (5, 'Anderson Marsh State Historic Park', None, 'future hike'), (6, 'Clear Lake State Park', None, 'future hike'), (7, 'Angel Island State Park', None, 'future hike')  ... displaying 10 of 35 total bound parameter sets ...  (33, 'Salt Point State Park', None, 'future hike'), (34, 'Sugarloaf Ridge State Park', None, 'future hike'))
2019-05-09 13:15:10,542 INFO sqlalchemy.engine.base.Engine COMMIT

In [17]:
# Print all of the player names in the database
parktbl = session.query(park)
for p in parktbl:
  print(p.park)

2019-05-09 13:15:12,333 INFO sqlalchemy.engine.base.Engine SELECT park."index" AS park_index, park.park AS park_park, park.link AS park_link
FROM park
2019-05-09 13:15:12,334 INFO sqlalchemy.engine.base.Engine ()
Columbia State Historic Park
Mount Diablo State Park
Marshall Gold Discovery State Historic Park
Ed Z’Berg Sugar Pine Point State Park
Humboldt Lagoons State Park
Anderson Marsh State Historic Park
Clear Lake State Park
Angel Island State Park
Mendocino Headlands State Park
Van Damme State Park
Malakoff Diggins State Historic Park
Auburn State Recreation Area
Wildwood Canyon Park Property
Folsom Lake State Recreation Area
Cuyamaca Rancho State Park
Hearst San Simeon State Park
Morro Strand State Beach
Morro Strand State Park
Pismo State Beach
Burleigh H. Murray Ranch Property
Montara State Beach
Pescadero Marsh Natural Preserve
Pigeon Point Light Station State Historic Park
La Purísima Mission State Historic Park
Castle Rock State Park
Henry Cowell Redwoods State Park
Natural Bridges State Beach
New Brighton State Beach
Portola Redwoods State Park
Seacliff State Beach
The Forest of Nisene Marks State Park
Wilder Ranch State Park
Jack London State Historic Park
Salt Point State Park
Sugarloaf Ridge State Park